body {
    background-color: #f0e6e5;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(211, 211, 211, 1);
    text-align: center;
    color: rgb(58, 52, 52);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-image: url('images/salmon.png');
}

img {
    width: 250px;
    height: 100px;
    float: right;
    padding: 5px;
}

p {
    border: 1px solid;
    padding: 5px;
}

main > article {
    width: 350px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 400px;
    padding: 5px;
}

main > article > img {
    height: 350px;
    width: 350px;
    border: 0 dotted black;
    padding: 5px;
    border-color: #fa8072;
    border-style: solid;
    border-width: 5px;
}

main > article > p {
    display: block;
    width: 750px;
    text-align: left;
    padding: 2px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fa8072;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #fa8072;
}

.active {
    background-color: #73ecfa;
}

h1 {
    font-family: brush script, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-family: brush script, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
